/* Elemente */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
canvas {
  background-color: greenyellow;
}
/* Klassen */
/* ID's */
/* Mobile View 1000px*/
@media (max-width: 800px) {
}
